@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
    .top-hover {
        @apply hover:bg-gray-600/40 py-0.5 px-4 rounded-full;
    }

    .top-open {
        @apply bg-metablue py-0.5 px-4 rounded-full;
    }

    .top-transition {
        @apply transition-colors ease-in-out duration-300;
    }
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
